.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #DA0F53;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
	margin-left:89%;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #E6E6E6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.index {
	background-image:url(background.jpg);
	 -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
}

.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 88%;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

.table a {
  margin-right:5%;
}

.table th {
	font-weight: bold;
	font-size: 12px;
	background: #524c4c;
	border: 1px solid #dddddd;
	color: #ece8e8;
}
.table td{
	border: 1% solid #eee;
	text-align: center;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #ffffff;
}

.main_rep {
	background-image:url(back.jpg);
	 -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
	
}

.form {
         width: 300px; 
         padding: 32px; 
         border-radius: 10px; 
         box-shadow: 0 4px 16px #ccc; 
         font-family: sans-serif; 
         letter-spacing: 1px;
		 background-color:#ffffff;
		 margin-left:37%;
		 margin-top:5%;
 }
 
 .form_title { 
         text-align: center; 
         margin: 0 0 32px 0; 
         font-weight: normal;
 }
 
 .form_button {
         padding: 10px 20px;
         border: none; 
         border-radius: 5px; 
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16px;
         color :#fff ; 
         background-color: #0071f0; 
         outline: none;
         cursor: pointer; 
         transition: 0.3s;
 }
 
.form_grup {
         position: relative; 
         margin-bottom: 32px;
}

.form_input {
         width: 100%;
         padding: 0 0 10px 0;
         border: none; 
         border-bottom: 1px solid #e0e0e0; 
         background-color: transparent; 
         outline: none;
         transition: 0.3s;
 }

.form_label {
         top: 0; 
         z-index: -1;
         color: #9e9e9e;
         transition: 0.3s;
 }
 
.form_button:focus,
.form_button:hover{
         background-color: rgba(0, 113, 240, 0.7); 
 }
 
 .form_input:focus {
         border-bottom: 1px solid #1a73a8;
 }
 
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
         top: -18px;
         font-size:12px;
         color: #e0e0e0;
 }

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
   font-family: 'Oswald', sans-serif;
 }
 .wrapper{
   position: fixed;
   top: 0;
   /*left: -100%;*/
   right: -100%;
   height: 100%;
   width: 100%;
   background: #41B3A3;
   /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
   /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
   transition: all 0.6s ease-in-out;
 }
 #active:checked ~ .wrapper{
   /*left: 0;*/
   right:0;
 }
 .menu-btn{
   position: absolute;
   z-index: 2;
   right: 20px;
   /*left: 20px; */
   top: 2px;
   height: 38px;
   width: 50px;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
   font-size: 20px;
   cursor: pointer;
   /*color: #fff;*/
   /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
   /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
   transition: all 0.3s ease-in-out;
 }
 .menu-btn span,
 .menu-btn:before,
 .menu-btn:after{
 	content: "";
 	position: absolute;
 	top: calc(50% - 1px);
 	left: 30%;
 	width: 40%;
 	border-bottom: 2px solid #000;
 	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 .menu-btn:before{
   transform: translateY(-8px);
 }
 .menu-btn:after{
   transform: translateY(8px);
 }


 .close {
 	z-index: 1;
 	width: 100%;
 	height: 100%;
 	pointer-events: none;
 	transition: background .6s;
 }

 /* closing animation */
 #active:checked + .menu-btn span {
 	transform: scaleX(0);
 }
 #active:checked + .menu-btn:before {
 	transform: rotate(45deg);
   border-color: #fff;
 }
 #active:checked + .menu-btn:after {
 	transform: rotate(-45deg);
   border-color: #fff;
 }
 .wrapper ul{
   position: absolute;
   top: 60%;
   left: 50%;
   height: 90%;
   transform: translate(-50%, -50%);
   list-style: none;
   text-align: center;
 }
 .wrapper ul li{
   height: 10%;
   margin: 15px 0;
 }
 .wrapper ul li a{
   text-decoration: none;
   font-size: 30px;
   font-weight: 500;
   padding: 5px 30px;
   color: #fff;
   border-radius: 50px;
   position: absolute;
   line-height: 50px;
   margin: 5px 30px;
   opacity: 0;
   transition: all 0.3s ease;
   transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 .wrapper ul li a:after{
   position: absolute;
   content: "";
   background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
   /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   border-radius: 50px;
   transform: scaleY(0);
   z-index: -1;
   transition: transform 0.3s ease;
 }
 .wrapper ul li a:hover:after{
   transform: scaleY(1);
 }
 .wrapper ul li a:hover{
   color: #1a73e8;
 }
 input[type="checkbox"]{
   display: none;
 }
 .content{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
   text-align: center;
   width: 100%;
   color: #202020;
 }
 .content .title{
   font-size: 40px;
   font-weight: 700;
 }
 .content p{
   font-size: 35px;
   font-weight: 600;
 }

 #active:checked ~ .wrapper ul li a{
   opacity: 1;
 }
 .wrapper ul li a{
   transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
   transform: translateX(100px);
 }
 #active:checked ~ .wrapper ul li a{
 	transform: none;
 	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
   transform: translateX(-100px);
 }
