<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" xmlns:th="http://www.thymeleaf.org">
  <title>Tea scheduler</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href ="main/resources/static/css/main.css" >
  <link rel="stylesheet" type="text/css" href ="css/main.css">
</head>

