<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href ="static/css/main.css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href ="css/main.css">
    <title>Главная</title>
</head>
<body class = "index">
 <div id="header">
     <ul class="navbar-nav mr-4">
       <li class="nav-item">
         <a class="nav-link " href="/recipients">Получаетели</a>
       </li>
	   <li class="nav-item">
         <a class="nav-link " th:href="'/recipient/create'">Добавить получателя</a>
       </li>
         <li class="nav-item">
             <a class="nav-link " th:href="'/schedule'">Настройки сообщений</a>
         </li>
         <li class="nav-item">
             <a class="nav-link " th:href="'/statistic'">Статистика</a>
         </li>
     </ul>
	</div>
   <div id ="main">

   </div>
</body>
</html>