<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href ="static/css/recipient.css" th:href="@{/css/recipient.css}">
  <link rel="stylesheet" type="text/css" href ="css/recipient.css">
</head>
<body class="main_rep">
<form action="#" th:action="'/schedule/save/'" th:object="${message}" method="post" class="form">
  <h1 class="form_title">Настройка расписания</h1>
  <div class="form_grup">
    <label class="form_label">Выберите дату отправки:
      <input class="form_input" placeholder=" " type="date" name="schedule" th:value="${message.schedule}"/>
      </label>
  </div>
  <div class="form_grup">
    <label class="form_label">Введите количество дней для повтора
      <input class="form_input" placeholder=" " type="text" name="dayTag" th:value="${message.dayTag}"/>
    </label>
  </div>
  <div class="form_grup">
    <label class="form_label">Введите тему сообщения
      <input class="form_input" placeholder=" " type="text" name="messageSubject" th:value="${message.messageSubject}"/>
    </label>
  </div>
  <div class="form_grup">
    <label class="form_label">Введите сообщение:
      <textarea class="form_input" placeholder="" type="text" name="message" th:value="${message.message}"></textarea></label>
  </div>
  <div>
    <button type="submit" class="form_button">Сохранить</button>
  </div>
</form>
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/recipients">Получаетели</a></li>
    <li><a th:href="'/recipient/create'">Добавить</a></li>
    <li><a href="/statistic">Статистика</a></li>
  </ul>
</div>
</body>
</html>
