<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href ="static/css/recipient.css" th:href="@{/css/recipient.css}">
<link rel="stylesheet" type="text/css" href ="css/recipient.css">
</head>
<body class="main_rep">
<form action="#" th:action="@{'/recipient/save/' + ${recipient.id}}" th:object="${recipient}" method="post" class="form">
<h1 class="form_title">Добавить получателя</h1>
  <div class="form_grup">
    <label class="form_label">Имя получателя:<input class="form_input" placeholder=" " type="text" name="firstname" th:value="${recipient.firstname}"/></label>
  </div>
  <div class="form_grup">
    <label class="form_label">Фамилия получателя:<input class="form_input" placeholder=" " type="text" name="lastname" th:value="${recipient.lastname}"/></label>
  </div>
  <div class="form_grup">
    <label class="form_label">Email получателя:<input class="form_input" placeholder=" " type="text" name="email" th:value="${recipient.email}"/></label>
  </div>
  <div class="form_grup">
    <label class="form_label">Возраст<input class="form_input" placeholder=" " type="text" name="age" th:value="${recipient.age}"/></label>
  </div>
  <div>
    <button type="submit" class="form_button">Сохранить</button>
  </div>
</form>
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/recipients">Получаетели</a></li>
    <li><a href="/schedule">Настройки</a></li>
    <li><a href="/statistic">Статистика</a></li>
  </ul>
</div>
</body>
</html>
