<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href ="static/css/statistic.css" th:href="@{/css/statistic.css}">
    <link rel="stylesheet" type="text/css" href ="css/statistic.css">
    <link rel="stylesheet" type="text/css" href ="static/css/recipient.css" th:href="@{/css/recipient.css}">
    <link rel="stylesheet" type="text/css" href ="css/recipient.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                [# th:each="row : ${chartData.get('dgrm')}"]
                [[${row}]],
                [/]
            ]);

            // Set chart options
            var options = {'title':'Диаграмма возраста получателей',
                'width':500,
                'height':300,
                'backgroundColor': '#E5E5E5'};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            var barchart_options = {title:'Количество отправленных сообщений за месяц',
                       width:500,
                       height:300,
                       'backgroundColor': '#E5E5E5',
                       legend: 'none'};
                       var dataBr = new google.visualization.DataTable();
            dataBr.addColumn('string', 'Topping');
            dataBr.addColumn('number', 'Количество');
            dataBr.addRows([
                [# th:each="row : ${chartData.get('br')}"]
                [[${row}]],
                [/]
            ]);
        var barchart = new google.visualization.ColumnChart(document.getElementById('barchart_div'));
        barchart.draw(dataBr, barchart_options);

        var countChart_options = {title:'Количество отправленных сообщений по месяцам',
                       width:500,
                       height:300,
                       'backgroundColor': '#E5E5E5',
                       legend: 'none'};
                       var countBr = new google.visualization.DataTable();
            countBr.addColumn('string', 'Topping');
            countBr.addColumn('number', 'Количество');
            countBr.addRows([
                [# th:each="row : ${chartData.get('cn')}"]
                [[${row}]],
                [/]
            ]);
        var barchart = new google.visualization.ColumnChart(document.getElementById('count_div'));
        barchart.draw(countBr, countChart_options);
        }
    </script>
</head>
<body style="background-color:#E5E5E5">
<div id="chart_div"></div>
<div id="barchart_div" ></div>
<div id="count_div" ></div>
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/recipients">Получаетели</a></li>
        <li><a th:href="'/recipient/create'">Добавить</a></li>
        <li><a href="/schedule">Настроить</a></li>
    </ul>
</div>
</body>
</html>